    <!-- Page Header Start-->

    <%- include('partials/header'); -%>

    <!-- Page Header Ends -->
        
        <!-- Page Sidebar Start-->
        
        <%- include('partials/sidebar'); -%>
        
        <!-- Page Sidebar Ends-->

        <!-- Right sidebar Start-->
        <div class="right-sidebar" id="right_side_bar">
            <div>
                <div class="container p-0">
                    <div class="modal-header p-l-20 p-r-20">
                        <div class="col-sm-8 p-0">
                            <h6 class="modal-title font-weight-bold">FRIEND LIST</h6>
                        </div>
                        <div class="col-sm-4 text-end p-0"><i class="me-2" data-feather="settings"></i></div>
                    </div>
                </div>
                <div class="friend-list-search mt-0">
                    <input type="text" placeholder="search friend"><i class="fa fa-search"></i>
                </div>
                <div class="p-l-30 p-r-30">
                    <div class="chat-box">
                        <div class="people-list friend-list">
                            <ul class="list">
                                <li class="clearfix"><img class="rounded-circle user-image" src="../assets/images/dashboard/user.png" alt="">
                                    <div class="status-circle online"></div>
                                    <div class="about">
                                        <div class="name">Vincent Porter</div>
                                        <div class="status"> Online</div>
                                    </div>
                                </li>
                                <li class="clearfix"><img class="rounded-circle user-image" src="../assets/images/dashboard/user1.jpg" alt="">
                                    <div class="status-circle away"></div>
                                    <div class="about">
                                        <div class="name">Ain Chavez</div>
                                        <div class="status"> 28 minutes ago</div>
                                    </div>
                                </li>
                                <li class="clearfix"><img class="rounded-circle user-image" src="../assets/images/dashboard/user2.jpg" alt="">
                                    <div class="status-circle online"></div>
                                    <div class="about">
                                        <div class="name">Kori Thomas</div>
                                        <div class="status"> Online</div>
                                    </div>
                                </li>
                                <li class="clearfix"><img class="rounded-circle user-image" src="../assets/images/dashboard/user3.jpg" alt="">
                                    <div class="status-circle online"></div>
                                    <div class="about">
                                        <div class="name">Erica Hughes</div>
                                        <div class="status"> Online</div>
                                    </div>
                                </li>
                                <li class="clearfix"><img class="rounded-circle user-image" src="../assets/images/dashboard/man.png" alt="">
                                    <div class="status-circle offline"></div>
                                    <div class="about">
                                        <div class="name">Ginger Johnston</div>
                                        <div class="status"> 2 minutes ago</div>
                                    </div>
                                </li>
                                <li class="clearfix"><img class="rounded-circle user-image" src="../assets/images/dashboard/user5.jpg" alt="">
                                    <div class="status-circle away"></div>
                                    <div class="about">
                                        <div class="name">Prasanth Anand</div>
                                        <div class="status"> 2 hour ago</div>
                                    </div>
                                </li>
                                <li class="clearfix"><img class="rounded-circle user-image" src="../assets/images/dashboard/designer.jpg" alt="">
                                    <div class="status-circle online"></div>
                                    <div class="about">
                                        <div class="name">Hileri Jecno</div>
                                        <div class="status"> Online</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right sidebar Ends-->

        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h3>Dashboard
                                    <small>Multikart Admin panel</small>
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-md-6 xl-50">
                        <div class="card o-hidden widget-cards">
                            <div class="bg-warning card-body">
                                <div class="media static-top-widget row">
                                    <div class="icons-widgets col-4">
                                        <div class="align-self-center text-center"><i data-feather="navigation" class="font-warning"></i></div>
                                    </div>
                                    <div class="media-body col-8"><span class="m-0">Earnings</span>
                                        <h3 class="mb-0">$ <span class="counter">6659</span><small> This Month</small></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 xl-50">
                        <div class="card o-hidden  widget-cards">
                            <div class="bg-secondary card-body">
                                <div class="media static-top-widget row">
                                    <div class="icons-widgets col-4">
                                        <div class="align-self-center text-center"><i data-feather="box" class="font-secondary"></i></div>
                                    </div>
                                    <div class="media-body col-8"><span class="m-0">Products</span>
                                        <h3 class="mb-0">$ <span class="counter">9856</span><small> This Month</small></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 xl-100">
                        <div class="card">
                            <div class="card-header">
                                <h5>Latest Orders</h5>
                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li><i class="icofont icofont-simple-left"></i></li>
                                        <li><i class="view-html fa fa-code"></i></li>
                                        <li><i class="icofont icofont-maximize full-card"></i></li>
                                        <li><i class="icofont icofont-minus minimize-card"></i></li>
                                        <li><i class="icofont icofont-refresh reload-card"></i></li>
                                        <li><i class="icofont icofont-error close-card"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body" >
                                <div class="user-status table-responsive latest-order-table">
                                    <table class="table table-bordernone" id="orderArea">
                                        <thead>
                                        <tr>
                                            <th scope="col">Order ID</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Payment Method</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% orders.forEach(function(item){ %>
                                            <tr>
                                                <td><a href="/admin/orders/<%= item._id %>"><%= item._id %></a></td>
                                                <td class="digits">$<%= item.totalprice %></td>
                                                <td class="font-danger"><%= item.method %></td>
                                                <td class="digits"><%= item.status %></td>
                                            </tr>
                                        <% }) %>
                                        </tbody>
                                    </table>
                                    <button onclick="printPageArea('orderArea')" class="btn btn-primary">Print</button>
                                </div>
                                <div class="code-box-copy">
                                    <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head1" title="" data-original-title="Copy"><i class="icofont icofont-copy-alt"></i></button>
                                    <pre class=" language-html"><code class=" language-html" id="example-head1">
                                        &lt;div class="user-status table-responsive latest-order-table"&gt;
                                            &lt;table class="table table-bordernone"&gt;
                                                &lt;thead&gt;
                                                    &lt;tr&gt;
                                                        &lt;th scope="col"&gt;Order ID&lt;/th&gt;
                                                        &lt;th scope="col"&gt;Order Total&lt;/th&gt;
                                                        &lt;th scope="col"&gt;Payment Method&lt;/th&gt;
                                                        &lt;th scope="col"&gt;Status&lt;/th&gt;
                                                    &lt;/tr&gt;
                                                &lt;/thead&gt;
                                                &lt;tbody&gt;
                                                    &lt;tr&gt;
                                                        &lt;td&gt;1&lt;/td&gt;
                                                        &lt;td class="digits"&gt;$120.00&lt;/td&gt;
                                                        &lt;td class="font-secondary"&gt;Bank Transfers&lt;/td&gt;
                                                        &lt;td class="digits"&gt;Delivered&lt;/td&gt;
                                                    &lt;/tr&gt;
                                                    &lt;tr&gt;
                                                        &lt;td&gt;2&lt;/td&gt;
                                                        &lt;td class="digits"&gt;$90.00&lt;/td&gt;
                                                        &lt;td class="font-secondary"&gt;Ewallets&lt;/td&gt;
                                                        &lt;td class="digits"&gt;Delivered&lt;/td&gt;
                                                    &lt;/tr&gt;
                                                    &lt;tr&gt;
                                                        &lt;td&gt;3&lt;/td&gt;
                                                        &lt;td class="digits"&gt;$240.00&lt;/td&gt;
                                                        &lt;td class="font-secondary"&gt;Cash&lt;/td&gt;
                                                        &lt;td class="digits"&gt;Delivered&lt;/td&gt;
                                                    &lt;/tr&gt;
                                                    &lt;tr&gt;
                                                        &lt;td&gt;4&lt;/td&gt;
                                                        &lt;td class="digits"&gt;$120.00&lt;/td&gt;
                                                        &lt;td class="font-primary"&gt;Direct Deposit&lt;/td&gt;
                                                        &lt;td class="digits"&gt;Delivered&lt;/td&gt;
                                                    &lt;/tr&gt;
                                                    &lt;tr&gt;
                                                        &lt;td&gt;5&lt;/td&gt;
                                                        &lt;td class="digits"&gt;$50.00&lt;/td&gt;
                                                        &lt;td class="font-primary"&gt;Bank Transfers&lt;/td&gt;
                                                        &lt;td class="digits"&gt;Delivered&lt;/td&gt;
                                                    &lt;/tr&gt;
                                                &lt;/tbody&gt;
                                            &lt;/table&gt;
                                        &lt;/div&gt;
                                    </code></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

        </div>

        <%- include('partials/footer'); -%>