<%- include('partials/header'); -%>
    <!-- section start -->
    <section class="section-b-space">
        <div class="collection-wrapper" style="height: 500px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="product-slick">
                            <div><img src="../assets/images/Products/<%= findItem.image %>" alt=""
                                    class="img-fluid blur-up lazyload img-mid" style="height: 500px; width: 100%;">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 rtl-text">
                        <div class="product-right">
                            <h2><%= findItem.title %></h2>
                            <h3 class="price-detail"><%= findItem.price %> $</span></h3>
                            <div id="selectSize" class="addeffect-section product-description border-product tab-mid">
                                
                                <form class="col-5  float-right" action="/cart/<%= findItem._id %>" method="POST">
                                    <h6 class="product-title tab-mid">quantity</h6>
                                    <div class="qty-box">
                                        <div class="input-group"><span class="input-group-prepend"><button type="button"
                                                    class="btn quantity-left-minus" data-type="minus" data-field=""><i class="fas fa-minus"></i></button> </span>
                                            <input type="text" name="quantity" class="form-control input-number" value="1">
                                            <span class="input-group-prepend"><button type="button"
                                                    class="btn quantity-right-plus" data-type="plus" data-field=""><i class="fas fa-plus"></i></button></span>
                                        </div>
                                    </div>   
                                    <div class="product-buttons mt-3">
                                        <% if(findItem.totalnumber > 0){ %>
                                            <button id="cartEffect"
                                                class="btn btn-solid hover-solid btn-animation justify-content-mid"><i class="fa fa-shopping-cart me-1"
                                                    aria-hidden="true" type="submit"></i> add to cart
                                            </button>
                                        <% } else { %>
                                            <button id="cartEffect"
                                                class="btn btn-solid hover-solid btn-animation" disabled><i class="fa fa-shopping-cart me-1"
                                                    aria-hidden="true" type="submit"></i> Out of stock
                                            </button>
                                        <% } %>
                                    </div>
                                </form>
                            </div>
                            <div class="product-count">
                                <ul>
                                    <li>
                                        <img src="../assets/images/icon/truck.png" class="img-fluid" alt="image">
                                        <span class="lang">Free shipping for orders above $100 USD</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section ends -->


    <!-- product-tab starts -->
    <section class="tab-product pt-0 m-0">
        <div class="container tab-description">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                        <li class="nav-item"><a class="nav-link active" id="top-home-tab" data-bs-toggle="tab"
                                href="#top-home" role="tab" aria-selected="true"><i
                                    class="icofont icofont-ui-home"></i>Details</a>
                            <div class="material-border"></div>
                        </li>
                        <li class="nav-item"><a class="nav-link" id="review-top-tab" data-bs-toggle="tab"
                                href="#top-review" role="tab" aria-selected="false"><i
                                    class="icofont icofont-contacts"></i>Write Review</a>
                            <div class="material-border"></div>
                        </li>
                    </ul>
                    <div class="tab-content nav-material mb-5 pb-5" id="top-tabContent">
                        <div class="tab-pane fade show active" id="top-home" role="tabpanel"
                            aria-labelledby="top-home-tab">
                            <div class="product-tab-discription">
                                <div class="part">
                                    
                                </div>
                                <div class="part">
                                    <p><%= findItem.description %></p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="top-review" role="tabpanel" aria-labelledby="review-top-tab">
                            <form class="theme-form">
                                <div class="form-row row">
                                    <div class="col-md-12">
                                        <div class="media">
                                            <label>Rating</label>
                                            <div class="media-body ms-3">
                                                <div class="rating three-star"><i class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name" placeholder="Enter Your name"
                                            required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="email">Email</label>
                                        <input type="text" class="form-control" id="email" placeholder="Email" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="review">Review Title</label>
                                        <input type="text" class="form-control" id="review"
                                            placeholder="Enter your Review Subjects" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="review">Review Title</label>
                                        <textarea class="form-control" placeholder="Wrire Your Testimonial Here"
                                            id="exampleFormControlTextarea1" rows="6"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-solid" type="submit">Submit YOur
                                            Review</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product-tab ends -->

    <!-- footer start -->
    
    <%- include('partials/footer'); -%>

    <!-- footer end -->
